@import 'normalize-scss';
@include normalize();

body {
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  svg {
    width: 100vw;
    height: 100vh;

    display: block;
    background-color: #aaa;

    .eye1 {
      fill: white;
      stroke: black;
      stroke-width: 3px;
    }
    .eye2 {
      stroke: black;
      stroke-width: 1px;
    }
    .eye3 {
      fill: black;
    }
  }
}
